{% extends "base.html" %}

{% block main %}
<div class="row-fluid">
	<div class="span6 offset1">
		<h3>
			Answers
			<div class="btn-group" style="float:right">
				<a class="btn" href="/admin/answers?json">
					Download
				</a>
			</div>
		</h3>
		
		{% if answers %}
		<table class="table table-striped">
			<tr>
				{% for k in answers[0].keys() %}		
				<th>{{ k }}</th>				
				{% endfor %}
			</tr>
			<tbody>
				{% for a in answers %}
				<tr>
					{% for v in a.values() %}
					<td>{{ v }}</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</tbody>		
		</table>
		{% else %}
		No answers.
		{% endif %}
	</div>
</div>

{% endblock %}