{% extends "base.html" %}

{% block main %}

<div class="row-fluid">
	<div class="span6 offset1">
		<h3>
			Configuration 			
			<div class="btn-group" style="float:right">
				<!--a href="#" class="btn" id="add_btn">
					Add Question
				</a-->				
			</div>
		</h3>
		<form class="form-inline">
		<label value="Welcome title">
		<input type="text" name="welcome_title" value="{{ config.WELCOME_TITLE }}">
		<textarea rows="4" name="welcome_text">{{ config.WELCOME_TEXT }}</textarea>
		</form>
	</div>
</div>

{% endblock %}