{% extends "base.html" %}

{% block main %}
<div class="row-fluid">
	<div class="span6 offset1">
		<h3>Edit question: {{question.title}}</h3>
		<form class="form-horizontal" method="POST" action="/admin/question/{{question._id}}">
			<div class="control-group">
				<label class="control-label" for="title">Title</label>
				<div class="controls">
					<input name="title" type="text" class="input" value="{{question.title}}">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="group">Group</label>
				<div class="controls">
					<input name="group" type="text" class="input" value="{{question.group}}">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="order">Order</label>
				<div class="controls">
					<input name="order" type="text" class="input-small" value="{{question.order}}">
				</div>
			</div>
			<div class="control-group">
				<div class="controls">					
					<!--<button type="submit" class="btn btn-primary">Save</button>-->
					<a href="/admin/group/{{question.group}}">
					<button type="button" class="btn btn-primary">Save</button>
					</a>
					<a href="/admin/delete_question//{{question._id}}">
					<button type="button" class="btn btn-danger">Delete</button>
					</a>
					<a href="/admin/group/{{question.group}}">
					<button type="button" class="btn btn-inverse">Back</button>
					</a>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}