<option value="1">Arts and Literature</option>
<option value="2">Astronomy / Astrophysics / Space Science</option>
<option value="3">Biological Sciences</option>
<option value="4">Business Administration</option>
<option value="5">Chemistry</option>
<option value="6">Computer and Information Science</option>
<option value="25">Design</option>
<option value="7">Earth Sciences</option>
<option value="8">Economics</option>
<option value="9">Education</option>
<option value="10">Electrical and Electronic Engineering</option>
<option value="11">Engineering</option>
<option value="12">Environmental Sciences</option>
<option value="13">Humanities</option>
<option value="14">Law</option>
<option value="15">Linguistics</option>
<option value="16">Management Science / Operations Research</option>
<option value="17">Materials Science</option>
<option value="18">Mathematics</option>
<option value="19">Medicine</option>
<option value="20">Philosophy</option>
<option value="21">Physics</option>
<option value="22">Psychology</option>
<option value="23">Social Sciences</option>
<option value="24">Sports and Recreation</option>