{% extends "base.html" %}

{% block main %}
<style>
#progressbar {
		width: 400px;
		height: 22px;
		border: 1px solid #111;
		background-color: #292929;
}

#progressbar div {
		height: 100%;
		color: #fff;
		text-align: right;
		line-height: 22px; /* same as #progressbar height if we want text middle aligned */
		width: 0;
		background-color: #0099ff;
}
</style>

<script type="text/javascript">
	window.onload = function()
    {
		var progressBarWidth = $('#progressbar').width();
    	var progressDiv = $('#progressbar').find('div');
		progressDiv.animate({ width: progressBarWidth }, 500);
		progressDiv.html(100 + "%&nbsp;");
    };
</script>
<div class="row-fluid">
	<div class="span8 offset1">
	<h2>Thank you!</h2>
	Your participation is highly appreciated.
	<br>
	Yours,
	<br>
	The Staff
	<br>
	<br>
	</div>
</div>

<div class="row-fluid">
<div class="span8 offset1" id="progressbar"><div></div></div>
</div>
{% endblock main %}
