{% extends "base.html" %}

{% block main %}
<div class="row-fluid">
	<div class="span6 offset1">
		<h2>Hello World!</h2>

		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non neque urna. Phasellus tempor, libero non viverra dapibus, ante velit placerat ligula, eu facilisis nisi nibh in ligula. Vestibulum orci lacus, tincidunt ac arcu vitae, cursus consectetur magna. Nullam tincidunt sit amet neque ut aliquam. Nullam at venenatis urna. Ut sed nulla risus. Praesent pharetra ultricies eros, a suscipit tellus rutrum ac. Sed commodo, massa et vulputate fringilla, risus ante sollicitudin turpis, sit amet porta libero tellus vitae enim. Maecenas non sem orci. Vestibulum eget dolor pulvinar, volutpat dui nec, blandit sapien.
		</p>
		<p>
			Morbi eget erat et elit accumsan bibendum. In hac habitasse platea dictumst. Maecenas adipiscing lacinia libero, in sollicitudin orci. Quisque porta ornare magna, vel vehicula leo eleifend vitae. Phasellus eu quam ligula. Pellentesque auctor sem nisl, eget vulputate orci viverra eget. Etiam nec eleifend justo. Nunc commodo neque tortor. Nullam nunc dui, ornare eget blandit et, sodales eget felis. Curabitur ullamcorper vestibulum molestie. Proin a justo in velit ultrices consequat nec id leo. Sed eu augue felis. In ullamcorper euismod urna, sed semper velit placerat eu. Proin eu ullamcorper quam. Duis sit amet ullamcorper augue. Pellentesque eget purus justo.
		</p>
		<p>

			Nullam pellentesque tellus pharetra est tincidunt, sed porta leo elementum. Sed mollis vulputate consequat. Proin neque tortor, gravida sed diam vitae, vulputate adipiscing lorem. Sed bibendum magna sit amet nulla aliquam, id tincidunt quam congue. Cras at consectetur tellus, eu lacinia mi. Suspendisse convallis, felis vel laoreet iaculis, dolor nisi consectetur urna, a ornare mauris massa eget quam. Nullam sollicitudin eleifend sem in pellentesque. Proin consectetur nisi et semper dictum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.		
		</p>
		<p>
		</p>
	</div>
	<div class="span4 well">

		{% include "personal.html" %}
	</div>
</div>
{% endblock main %}
