{% extends "base.html" %}

{% block main %}
<div class="row-fluid">
	<div class="span6 offset1">
		<h2>Hello!</h2>
		<p>Dear Professor,</p>
		<p>
			This questionnaire is a part of a project that focuses on perceptions about public sector performance. We want to learn about your attitudes toward public sector services and the proper conduct of public administration.
		</p>
		<p>
			The information you are asked to provide is of great value and will be kept confidential. The estimated time needed for completing the questionnaire is approximately 10 minutes. Please try to answer all of the questions, including those concerning personal details. There are no 'right' or 'wrong' answers because we are interested only in your personal opinions.
		</p>
		<p>
			We are deeply appreciative of your personal participation and trust we shall have the benefit of your cooperation, which is invaluable for research purposes.
		</p>
		<p>
			Thank you!
		</p>
	</div>
	<div class="span4 well">

		{% include "personal.html" %}
	</div>
</div>
{% endblock main %}
