	
<div style="text-align:center">
	<h2>Personal details</h2>
</div>
<form class="form-horizontal" id="personalDetailsForm"  action="/personal" method="post">
	<div class="control-group">
		<label class="control-label" for="age">Age</label>
		<div class="controls">
			<input type="text" name="age">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="country">Country</label>
		<div class="controls">
			<input type="text" name="country" placeholder="Where do you work?">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="bornInThisCountry">Where you born in this country?</label>
		<div class="controls">
			<input type="radio" name="bornInThisCountry" value="yes"> Yes 
			<input type="radio" name="bornInThisCountry" value="no"> No					
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="citizenInThisCountry">Are you a citizen of this country?</label>
		<div class="controls">
			<input type="radio" name="citizenInThisCountry" value="yes"> Yes 
			<input type="radio" name="citizenInThisCountry" value="no"> No
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="gender">Gender</label>
		<div class="controls">
			<input type="radio" name="gender" value="male"> Male 
			<input type="radio" name="gender" value="female"> Female					
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="education">Field of education</label>
		<div class="controls">
			<!--input type="text" name="education" placeholder="Chemistry"-->
			<select class="dropdown" name="education">
				<option value="">Please Select...</option>
				<option value="1">Arts and Literature</option>
				<option value="2">Astronomy / Astrophysics / Space Science</option>
				<option value="3">Biological Sciences</option>
				<option value="4">Business Administration</option>
				<option value="5">Chemistry</option>
				<option value="6">Computer and Information Science</option>
				<option value="25">Design</option>
				<option value="7">Earth Sciences</option>
				<option value="8">Economics</option>
				<option value="9">Education</option>
				<option value="10">Electrical and Electronic Engineering</option>
				<option value="11">Engineering</option>
				<option value="12">Environmental Sciences</option>
				<option value="13">Humanities</option>
				<option value="14">Law</option>
				<option value="15">Linguistics</option>
				<option value="16">Management Science / Operations Research</option>
				<option value="17">Materials Science</option>
				<option value="18">Mathematics</option>
				<option value="19">Medicine</option>
				<option value="20">Philosophy</option>
				<option value="21">Physics</option>
				<option value="22">Psychology</option>
				<option value="23">Social Sciences</option>
				<option value="24">Sports and Recreation</option>
			</select>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="affiliation">Affiliation</label>
		<div class="controls">
			<input type="text" name="affiliation" placeholder="Faculty and department">
		</div>
	</div>	
	<div class="control-group">
		<label class="control-label" for="research">Field of research (opt.)</label>
		<div class="controls">
			<input type="text" name="research" placeholder="Molecular biology">
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> Start</button>
		</div>
	</div>
</form>

<script type="text/javascript">
	$(document).ready(function(){
		$("#personalDetailsForm").submit(function() {
	        //Do the AJAX post
	        $.post(
	        	$("#personalDetailsForm").attr("action"), 
	        	$("#personalDetailsForm").serialize(), 
	        	function(data){
	        		window.location = '/start/' + data.result;
	        	});
	        //Important. Stop the normal POST
	        return false;
	    });
	});
</script>

