	
<div style="text-align:center">
	<h2>Personal details</h2>
</div>
<form class="form-horizontal" id="personalDetailsForm"  action="/personal" method="post">
	<div class="control-group">
		<label class="control-label" for="age">Age</label>
		<div class="controls">
			<input class="input-mini" type="text" name="age">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="country">Country</label>
		<div class="controls">		
			<select class="dropdown" name="country"> 
				<option value="" selected="selected">Select Country</option> 
				{% include "countries.html" %}
			</select>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="bornInThisCountry">Country of birth</label>
		<div class="controls">
			<label class="radio">
				<input type="radio" name="bornInThisCountry" value="yes">
				Yes
			</label>
			<label class="radio">
				<input type="radio" name="bornInThisCountry" value="no">
				No
			</label>
		</div>		
	</div>
	<div class="control-group">
		<label class="control-label" for="citizenInThisCountry">Country of citizenship</label>
		<div class="controls">
			<label class="radio">
				<input type="radio" name="citizenInThisCountry" value="yes">
				Yes
			</label>
			<label class="radio">
				<input type="radio" name="citizenInThisCountry" value="no">
				No
			</label>
			
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="gender">Gender</label>
		<div class="controls">
					<label class="radio">
				<input type="radio" name="gender" value="male">
				Male
			</label>
			<label class="radio">
				<input type="radio" name="gender" value="female">
				Female
			</label>			
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="education">Field of education</label>
		<div class="controls">
			<select class="dropdown" name="education">	
				<option value="" selected="selected">Select field</option> 
				{% include "fields.html" %}	
			</select>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="affiliation">Affiliation</label>
		<div class="controls">
			<input type="text" name="affiliation" placeholder="Faculty and department">
		</div>
	</div>	
	<div class="control-group">
		<label class="control-label" for="research">Field of research (opt.)</label>
		<div class="controls">
			<input type="text" name="research" placeholder="What do you work on?">
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> Start</button>
		</div>
	</div>
</form>

<script type="text/javascript">
	$(document).ready(function(){
		$("#personalDetailsForm").submit(function() {
	        //Do the AJAX post
	        $.post(
	        	$("#personalDetailsForm").attr("action"), 
	        	$("#personalDetailsForm").serialize(), 
	        	function(data){
	        		window.location = '/start/' + data.result;
	        	});
	        //Important. Stop the normal POST
	        return false;
	    });
	});
</script>

