	
<div style="text-align:center">
	<h2>Personal details</h2>
</div>
<form class="form-horizontal" id="personalDetailsForm"  action="/personal" method="post">
	<div class="control-group">
		<label class="control-label" for="age">Age</label>
		<div class="controls">
			<input type="text" name="age">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="country">Country</label>
		<div class="controls">
			<input type="text" name="country" placeholder="Where do you work?">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="bornInThisCountry">Where you born in this country?</label>
		<div class="controls">
			<input type="radio" name="bornInThisCountry" value="yes"> Yes 
			<input type="radio" name="bornInThisCountry" value="no"> No					
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="citizenInThisCountry">Are you a citizen of this country?</label>
		<div class="controls">
			<input type="radio" name="citizenInThisCountry" value="yes"> Yes 
			<input type="radio" name="citizenInThisCountry" value="no"> No
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="gender">Gender</label>
		<div class="controls">
			<input type="radio" name="gender" value="male"> Male 
			<input type="radio" name="gender" value="female"> Female					
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="education">Field of education</label>
		<div class="controls">
			<input type="text" name="education" placeholder="Chemistry">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="faculty">Faculty</label>
		<div class="controls">
			<input type="text" name="faculty" placeholder="Your affiliation">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="department">Department</label>
		<div class="controls">
			<input type="text" name="department" placeholder="Your affiliation">
		</div>
	</div>	
	<div class="control-group">
		<label class="control-label" for="research">Field of research (opt.)</label>
		<div class="controls">
			<input type="text" name="research" placeholder="Molecular biology">
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> Start</button>
		</div>
	</div>
</form>

<script type="text/javascript">
	$(document).ready(function(){
		$("#personalDetailsForm").submit(function() {
	        //Do the AJAX post
	        $.post(
	        	$("#personalDetailsForm").attr("action"), 
	        	$("#personalDetailsForm").serialize(), 
	        		function(data){
	            		window.location = '/start/' + data.result;
	        	});
	        //Important. Stop the normal POST
	        return false;
    	});
	});
</script>

