{% extends "base.html" %}

{% block main %}
</style>
<script type="text/javascript">
	function answer(group, question, answer) {
		$.ajax({
			url: "/answer/"+group.toString()+"/"+question.toString()+"/"+answer.toString()
		}).done(function() {			
			if (question < {{ questions | length }}) {
				$('#q'+question.toString()).hide();			
				$('#q'+(question+1).toString()).show();							
				progress = progress + 1;
				updateProgressBar();
			} else {
				window.location ="/questionare/{{ group.order + 1 }}";				
			}
		});
	}
	var progress = {{ session['progress'] }};
	var numQuestions = {{ config.num_questions }};
	function updateProgressBar() {
		var rate = 100*progress/numQuestions;
		var bar = Math.floor(rate / 25);
		$('.bar').each(function(i,e) {
			if (i<bar) {
				$(this).css('width','25%');
			} else if (i == bar) {
				var per = rate - 25*bar;
				$(this).css('width',per.toString()+'%');
			} else {
				$(this).css('width','0%');
			}			
		});
	}
	function next() {
		$("#nextBtn").hide();
		$("#q1").show();
	}
	$(document).ready(function(){
		updateProgressBar();
		$('#nextBtn').click(next);		
	});
</script>

<div class="row-fluid">
	<div class="span6 offset3">		
		<h2>{{ group.name }}</h2>
		{{ group.title }}
		<br>		
		<br>
		<a href="#" id="nextBtn"><button class="btn btn-large"><i class="icon-arrow-right"></i> Next</button></a>
		{% for q in questions %}
		<div id="q{{q.order}}" style="display:none;">
			<h3 style="text-align:center">
				{{ q.title }} | 
				<a href="javascript:answer({{ group.order }},{{ q.order }},0)">
					<small>Skip</small>
				</a>
			</h3>
			<table style="height:100px;width:500px;table-layout:fixed;margin:0 auto;">

				<tr>
					{% for index in range(q.levels) %}					
					<td bgcolor="{{ config.COLORS[q.levels][index] }}" style="height:100px;width=100px;text-align:center;text-valign:middle;border=1">
						<a href="javascript:answer({{ group.order }},{{ q.order }},{{ index + 1 }})" style="display:block;width:100%;height:100%;text-decoration:none;">
						</a>						
					</td>
					{% endfor %}
				</tr>
				{% if q.comments %}
				<tr>
					<!--{% for index in range(q.levels) %}
					<td style="width=100px;text-align:center;">
						<small>{{ q.comments[index] }}</small>
					</td>
					{% endfor %}-->
				</tr>
				{% endif %}
			</table>
		</div>
		{% endfor %}		
		
		<br>
		<br>
	</div>
</div>

<div class="row-fluid">
	<div class="span6 offset3">
		<div>
			<div class="progress">
				<div class="bar bar-danger" style="width: 0%;"></div>
				<div class="bar bar-warning" style="width: 0%;"></div>
				<div class="bar bar-info" style="width: 0%;"></div>
				<div class="bar bar-success" style="width: 0%;"></div>
			</div>
		</div>
	</div>
</div>

{% endblock main %}
