{% extends "base.html" %}

{% block main %}
<div class="row-fluid">
	<div class="span6 offset1">
		<h3>
			Users
			<div class="btn-group" style="float:right">
				<a class="btn" href="/admin/users?json">
					Download
				</a>
			</div>
		</h3>
		
		{% if users.count() %}
		<table class="table table-striped">
			<tr>
				{% for k in users[0].keys() %}		
					<th>{{ k }}</th>				
				{% endfor %}
			</tr>
			<tbody>
				{% for u in users %}
				<tr>
					{% for v in u.values() %}
					<td>{{ v }}</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</tbody>		
		</table>		
		<a class="btn" href="#" id="raffle">Raffle</a>
		{% else %}
		No users.
		{% endif %}		
		<div id="winner">
			<br>
		</div>		
	</div>
</div>
<script type="text/javascript">
	var emails = [{% for e in emails %} '{{ e }}' {% endfor %}];

	$( document ).ready( function() {		
		$('#raffle').click(function () {
			var winner = emails[_.random(emails.length-1)];
			$('#winner').append("The winner is <a href='mailto:" + winner + "'>" + winner + '</a>\t');
		});
	});

</script>
{% endblock %}